*{
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
}


.main-container {
    margin-left: 140px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    width: 500px;
    border-radius: 30px;
    padding-bottom: 50px;
}


.logo img {
    height: 40px;
    margin-top: 10px;
}

.logo {
    margin-left: 45px;
    margin-bottom: 10px;
}

.sidebar ul {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    
}

.text {
    margin-bottom: 5px;
    font-size: 22px;
}

.sidebar ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    font-weight: 400;
    border-radius: 30px;
    padding: 12px;
}

.icon {
    font-size: 24px;
    padding: 2px;
}

a{
    color: black;
    text-decoration: none;
}


.sidebar ul li:hover {
    background-color: #e0ebeb;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.tweet {
    width: 240px;
    height: auto;
    display:inline-flex;
    justify-content: center;
    font-size: 20px;
    font-family: "Lato",sans-serif;
    margin-left: 50px; 
    font-weight: 600;
    border-radius: 30px;
    background-color: #4d79ff;
    padding: 13px;
}

.tweet a {
    color: white;
}

.tweet:hover {
    background-color: #809fff;
}








